#app {
  --snake-color: #30302a;
  --food-color: #e6902f;
  --wall-color: #345333;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 7rem;
  background-color: white;

  /* center text horizontally and vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: default;
}

.cell {
  padding-top: 100%; /* forces the 1:1 aspect ratio */
}